<?xml version="1.0"?>

<model>
  <name>IARC Red Line</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  

  <author>
    <name>Logesh Roshan</name>
  </author>

  <description>
    A red line to symbolize the opposite (to green line) location for IARC.
  </description>

</model>
